html, body {
	background: #222;
	color: #fff;
}

h4.month {
	padding: .5em;
	
}

span.highlight {
	color: #111;
	background: #d8611e;
	font-weight: bold;
	padding: .1em;
	letter-spacing: 1px;
	vertical-align: ;
}

#hd {
	margin-bottom: 1em;
	padding: 1em 0;
	border-bottom: 1px solid #000;

}

#hd.show {
	background: #111;
	text-align: left;
	padding: .5em;
}

#hd.show h1 a:hover{
	background: none;
}

#bd {
	margin-bottom: 2em;
	padding-bottom: 2em;
}

#ft {
	border-top: solid #333 1px;
	padding: 1em;
	color: #333;
	font-size: 83%;
	text-align: center;
}

#ft a{
	color: #333	;
	text-decoration: underline;
}

#ft a:hover{
	color: #fff;
}

h1 {
	font-size: 167%;
	font-weight: bold;
}

#hd h1 a{
	color: #fff;
	text-decoration: none;
}

#hd h1 a:hover{
	background: #A44A17;
}


h2 {
	font-size: 116%;
}

h1 span {
	font-weight: normal;
	color: #ccc;
	font-size: .8em;
}