<div style="text-align:center;"><%= image_tag('home.png')%></div>
<div class="yui-gb" style="text-align:center;">
	<div class="yui-u first">
		<h2><br />Take a photo</h2>
	</div>
	<div class="yui-u">
		<h2>Email it to: <span class="highlight">photobagel@gmail.com</span></h2>
	</div>
	<div class="yui-u">
		<h2><br />Do it everyday</h2>
	</div>
</div>