<%= image_tag('home.png')%>
<div class="yui-gb" style="text-align:center;">
	<div class="yui-u first">
		<h2><br />Take a neat photo today</h2>
	</div>
	<div class="yui-u">
		<h2>Email it to photobagel@gmail.com</h2>
	</div>
	<div class="yui-u">
		<h2><br />Try and do it everyday</h2>
	</div>
</div>