<div id="ft">
	Made by <a href="http://www.chapambrose.com">Chap Ambrose</a> during the <a href="http://www.railsrumble.com">Rails Rumble '09</a>. Inspired by the <a href="http://calendaraboutnothing.com/">Calendar About Nothing</a> and <a href="http://eenperdag.blogspot.com/">EEN PER DAG</a>.
</div>