<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= stylesheet_link_tag 'reset-fonts-grids', 'application' %>
	<%= javascript_include_tag :defaults %>
	<title>PhotoBagel</title>
	
</head>

<body>
<div id="doc">
	<div id="hd">
		<h1><%= image_tag('bagel_white.png', :style => 'vertical-align: text-bottom;') %> PhotoBagel <span>made fresh daily</span></h1>
	</div>
	<div id="bd">
		<%= yield %>
	</div>
	<div id="ft">
		Made by <a href="http://www.chapambrose.com">Chap Ambrose</a> during the <a href="http://www.railsrumble.com">Rails Rumble '09</a>. Inspired by the <a href="http://calendaraboutnothing.com/">Calendar About Nothing</a> and <a href="http://eenperdag.blogspot.com/">EEN PER DAG</a>.
	</div>
</div>
</body>
</html>
